################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
*.suo
/EFDebugExtensions/obj/Debug
/EFDebugExtensions/bin/Debug
/EFDebugExtensions.UnitTests/obj/Debug
/EFDebugExtensions.UnitTests/bin/Debug
/EFDebugExtensions.sln.DotSettings
/EFDebugExtensions.sln.DotSettings.user
/EntityFrameworkDebugVisualizations/bin/Debug
/EntityFrameworkDebugVisualizations.UnitTests/bin/Debug
/EntityFrameworkDebugVisualizations/obj/Debug
/EntityFrameworkDebugVisualizations.UnitTests/obj/Debug
/TestResults/Deploy_Andy 2014-01-26 21_58_03/Out
/TestResults
/EntityFrameworkDebugVisualizations/EntityFrameworkDebugVisualizations.csproj.user
